@import '../variables.scss';

.users {
    padding: 140px 0;
    @media screen and (max-width: 360px) {
        padding-bottom: 160px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-bottom: 49px;
        @media screen and (max-width: 980px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
        }
        @media screen and (max-width: 630px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__title {
        margin-bottom: $spacing-large;
        text-align: center;
    }
}

.user {
    padding: $spacing-medium;
    background-color: $white-color;
    text-align: center;
    border-radius: $border-radius-user;
    &__container {
        margin: 0 auto;
        max-width: 242px;
    }
    &__img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-bottom: $spacing-medium;
    }
    &__name {
        margin: 0 auto;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: $spacing-medium;
    }
    &__email, &__phone {
        display: block;
        margin: 0 auto;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
}