@import '../variables.scss';

.ui-button {
    display: block;
    min-width: 100px;
    max-width: 120px;
    padding: 4px 18px;
    margin: 0 auto;
    font-size: $font-size-default;
    line-height: $line-height-default;
    text-align: center;
    border-radius: $border-radius-big;
    color: $black-color;
    background-color: $primary-color;
    transition: background-color 0.2s linear;
    &:hover {
        background-color: $primary-hover-color;
    }
}