@import './reset.scss';
@import './fonts.scss';
@import './variables.scss';

//common styles
body {
    font-family: 'Nunito', sans-serif;
    font-size: $font-size-default;
    line-height: $line-height-default;
    color: $black-color;
    background-color: $background-color;
    scroll-behavior: smooth;
}

.container {
    max-width: $container-width;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: $font-size-title;
    line-height: $line-height-big;
}