// colors
$white-color: #FFFFFF;
$black-color: #000000;
$grey-color: #B4B4B4;
$red-color: #CB3D40;
$primary-color: #F4E041;
$primary-hover-color: #FFE302;
$secondary-color: #00BDD3;
$background-color: #F8F8F8;

//font settings
$font-size-title: 40px;
$font-size-default: 16px;
$line-height-big: 40px;
$line-height-default: 26px;

//border
$border-radius-small: 4px;
$border-radius-medium: 10px;
$border-radius-user: 16px;
$border-radius-big: 80px;

//spacing
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-big: 30px;
$spacing-large: 50px;

//container-width
$container-width: 1200px;